<!--
    HTML do conteúdo da sidebar. 
    ***
    estrutura do conteudo -> [ Info. Gerais, Estrutura, Pessoas, Carreiras ]
    ***
-->

<mat-nav-list>
    <ng-container *ngFor="let item of menuItems()"> 
      <a mat-list-item
         class="menu-items"
         [routerLink]="item.route"
         routerLinkActive="selected-menu-item"
         #rla="routerLinkActive"
         [activated]="rla.isActive"
         [ngClass]="{'active-link': rla.isActive}"
         *ngIf="!item.children">
        <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
        <span matListItemTitle *ngIf="!sidenavCollapsed()">{{item.label}}</span>
      </a>
  
      <!-- Item com submenu -->
      <div *ngIf="item.children" class="submenu">
        <mat-expansion-panel class="submenu-header">
          <mat-expansion-panel-header >
            <mat-icon>{{ item.icon }}</mat-icon>
            <span>{{ item.label }}</span>
          </mat-expansion-panel-header>
          <ng-container *ngFor="let child of item.children">
            <a mat-list-item
               class="submenu-item"
               [routerLink]="child.route"
               routerLinkActive="selected-menu-item"
               #subRla="routerLinkActive"
               [activated]="subRla.isActive"
               [ngClass]="{'active-link': subRla.isActive}">
              <mat-icon matListItemIcon>{{ child.icon }}</mat-icon>
              <span matListItemTitle *ngIf="!sidenavCollapsed()">{{ child.label }}</span>
            </a>
          </ng-container>
        </mat-expansion-panel>
      </div>
    </ng-container>
  </mat-nav-list>
  