mat-card{
    height: 100%;
    width: 100%;
}
.tile-content{
    width: 260px;
}   
.buttons{
    width: 100%;
    height: 60px;
    background-color: whitesmoke;
    color: #154c79;
    font-size: 20px;
    border: 1px solid #154c79; 
}
mat-grid-list{
    border: 1px solid black;
}