
<!--
    Navegação principal da aplicação.
    ***
    mat-toolbard -> header, navbar | button = icone do menu (colapsar sidebar).
    mat-sidenav-container -> sidebar | container principal da sidebar.
    mat-sidenav-content -> sidebar | conteudo da sidebar.
    ***
-->

<mat-toolbar class="mat-elevation-z10" color="primary">
    <button mat-icon-button (click)="collapsed.set(!collapsed())">
        <mat-icon>menu</mat-icon>
    </button>
    <img src="../../../assets/logo.png" alt="Logo">
</mat-toolbar>
<mat-sidenav-container >
    <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
        <app-sidenav-content [collapsed]="collapsed()"></app-sidenav-content>
    </mat-sidenav>
    <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
