// Mixins para botões **********
@mixin button-style($bg-color, $hover-color) {
    background-color: $bg-color;
    border-radius: $button-radius;
    font-size: 18px;
    padding: 10px 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color $transition-ease, box-shadow $transition-ease;
  
    &:hover {
      background-color: $hover-color;
      box-shadow: $box-shadow-medium;
    }
  
    &:active {
      transform: scale(0.95);
    }
  }