// VARIÁVEIS --------------------------------
$main-color: #093354;
$hover-color: #11619e;
$button-bg: #154c79;
$success-bg: rgb(23, 111, 23);
$error-bg: rgb(111, 23, 23);
$hover-success: rgb(36, 165, 36);
$hover-error: rgb(147, 31, 31);
$button-radius: 5px;
$box-shadow-light: 0 4px 6px rgba(0, 0, 0, 0.1);
$box-shadow-medium: 0 6px 12px rgba(0, 0, 0, 0.15);
$transition-ease: 0.4s ease;