<div class="container">
    <h2 mat-dialog-title [style.font-weight]="'bold'">Cadastro de Empresa</h2>
    
    <mat-dialog-content>
      <!-- Campo Nome -->
      <div class="form-container">
        <mat-form-field appearance="fill">
          <mat-label>Nome</mat-label>
          <input matInput [(ngModel)]="empresa.nome" required>
        </mat-form-field>
      </div>
  
      <!-- Campo CNPJ -->
      <div class="form-container">
        <mat-form-field appearance="fill">
          <mat-label>CNPJ</mat-label>
          <input matInput [(ngModel)]="empresa.cnpj" required>
        </mat-form-field>
      </div>
  
      <!-- Campo Data Inicial -->
      <div class="form-container">
        <mat-form-field appearance="fill">
          <mat-label>Data Inicial</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="empresa.dataInicial" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </mat-dialog-content>
    
    <mat-dialog-actions>
      <button mat-flat-button (click)="onCancel()"> 
        <mat-icon>close</mat-icon> CANCELAR
      </button>
      <button mat-flat-button color="primary" (click)="onSave()">
        <mat-icon>check</mat-icon> SALVAR
      </button>
    </mat-dialog-actions>
  </div>
  