
    <div class="container">
        <h2 mat-dialog-title [style.font-weight]="'bold'">{{ data.title }}</h2>
        <mat-dialog-content>
          <div *ngFor="let field of data.fields" class="form-container">
            <mat-form-field appearance="fill">  
              <mat-label>{{ field.label }}</mat-label>
      
              <!-- Input comum -->
              <input matInput *ngIf="field.type === 'input'" [(ngModel)]="field.value">
      
              <!-- Select para opções -->
              <mat-select *ngIf="field.type === 'select'" [(ngModel)]="field.value">
                <mat-option *ngFor="let option of field.options" [value]="option.value">
                  {{ option.label }}
                </mat-option>
              </mat-select>
      
              <!-- Datepicker para datas -->
              <input matInput *ngIf="field.type === 'date'" [matDatepicker]="picker" [(ngModel)]="field.value">
              <mat-datepicker-toggle *ngIf="field.type === 'date'" matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </mat-dialog-content>
        <mat-dialog-actions>
          <button mat-flat-button (click)="onCancel()"> <mat-icon>close</mat-icon>CANCELAR</button>
          <button mat-flat-button color="primary" (click)="onSave()"><mat-icon>check</mat-icon>SALVAR</button>
        </mat-dialog-actions>
      </div>      
