<!-- 
  Layout do gridlist que irá ser utilizado nas telas dos componentes.
-->
<mat-grid-list [cols]="4" rowHeight="100px">
  <mat-grid-tile *ngFor="let tile of tiles"
                   [colspan]="tile.cols"
                   [rowspan]="tile.rows">

      <!-- Condicional para o 'HEADER' -->
    <ng-container *ngIf="tile.text === 'HEADER'">
      <div class="header-content">
        <h1 class="header-title">{{title}}</h1>
      </div>
    </ng-container>

          <!-- Condicional para o 'PESQUISA' -->
    <ng-container *ngIf="tile.text === 'PESQUISA'">
      <div class="filter-content">
          <div class="buttons-filter" *ngIf="showButtons.length > 0">
            <button class="buttons filter-button" *ngFor="let button of showButtons">{{button}}</button>
          </div>
      </div>
    </ng-container>
    
    <!-- Condicional para o 'FILTROS' -->
    <ng-container *ngIf="tile.text === 'FILTROS'">
      <div class="search-content">
        <div class="search-bar">
          <div class="buttons-search-bar">
            <button class="buttons search-button add-button"><mat-icon>add</mat-icon> INCLUIR</button>
            <button class="buttons search-button block-button"><mat-icon>block</mat-icon>INATIVAR</button>
          </div>
          <input type="text" id="search" placeholder="Pesquisar...">
          <button class="buttons search-button"><mat-icon>search</mat-icon></button>
        </div>
      </div>
    </ng-container>
    
    <!-- Condicional para o 'CONTENT-PRINCIPAL' -->
    <ng-container *ngIf="tile.text === 'CONTENT-PRINCIPAL'">
      <div class="main-content">

      </div>
    </ng-container>
    
  </mat-grid-tile>
</mat-grid-list>